:host{
    ::ng-deep .p-datatable-thead > tr > th {
        border: none !important;
        text-align: center !important;
        background: transparent !important;
    }
    
    /* Remove background from table rows */
    ::ng-deep .p-datatable-tbody > tr {
        background: transparent !important;
    }

    ::ng-deep .p-datatable-tbody > tr > td {
        border: none !important;
        text-align: center !important;
    }
}