.leaderboard{
    text-align: center;
    h2{
      text-transform: uppercase;
    }
}
.top-content{
    flex: 1;
    display: flex;
    gap: 2rem;
    .intro-text{
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 1.75rem;
      font-size: 1.75rem;
      line-height: 3.25rem;

    }
    .intro-image{
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        @media (max-width: 768px) {
          display: none;
        }

      img {
        height: 100%;
        width: auto;
        object-fit: contain;
      }
    }
}
@media (max-width: 768px) {
  .col-12{
    flex-direction: column;
    .col-5{
      width: 100%;
    }
  }
}
.col-12{}
.play-button{
    text-align: center;
    button{
      font-size: 4rem !important;
      padding-left: 2rem;
      padding-right: 2rem;
    }
}

.stat-card{
  p{
    text-align: center;
    padding: 2rem 1rem;
    font-size: 2rem;
    line-height: 5rem;
    font-weight: 600;
    text-transform: uppercase;
  }
}
.how-to-play{
  font-size: 2rem;
  line-height: 2.5rem;
  text-align: center;
  p{
    line-height: 2.5rem;
  }
}