<app-layout>
  <div class="grid grid-cols-12">

    <div class="col-12">
      <app-block class="intro-block">
        <div class="top-content">
          <div class="intro-text">
            <p>Snake. Play. Earn.</p>
            <p>Ride your snake, collect drops, and climb the leaderboard.</p>
            <p>Play daily, unlock skins, and earn rewards just by moving smart.</p>
            <p>No PvP, no pressure — just retro vibes and blockchain gains.</p>
          </div>
          <div class="intro-image">
            <img src="assets/images/snake.svg" alt="Snake">
          </div>
        </div>
        <div class="play-button">
          <app-button
            [label]="'Play'"
            [size]="3.5"
            (onClick)="navigateToGame()">
          </app-button>
        </div>
      </app-block>
    </div>

    <div class="flex flex-col sm:flex-row col-12">
      <div class="col-5 col-sm-12 sm:grid-col-12">
        <app-block>
          <app-block
            class="leaderboard"
            [background]="innerBlock.backgroundLeaderboard"
            [border]="innerBlock.border">
            <h2 class="leadernboard-headline py-2">Leaderboard</h2>
            <app-table [config]="leaderboardTableConfig"  [data]="players()"></app-table>
          </app-block>
          
          <app-block
            [background]="innerBlock.backgroundMyScore"
            [border]="innerBlock.border">
            <h3 class="py-2"> My Score</h3>
            <app-table [config]="myScoreTableConfig"  [data]="myScoreData"></app-table>
          </app-block>
        </app-block>
      </div>
      <div class="col-2"></div>
      <div class="col-5 sm:grid-col-12">
        <app-block>
          <app-block
            class="count-fee stat-card"
            [background]="innerBlock.backgroundFeeToPay"
            [border]="innerBlock.border"
            [margin]="innerBlock.marginStatCard"
            >
            
            <p>Fee to play <br>
            1 ETH</p>
          </app-block>

          <app-block
            class="stat-card"
            [background]="innerBlock.backgroundDailyPool"
            [border]="innerBlock.border"
            [margin]="innerBlock.marginStatCard"
            >
            <p>Daily pool <br>
              1 ETH</p>
          </app-block>
        </app-block>
      </div>
    </div>

    <div class="col-12">
      <app-block class="how-to-play">
        <h2>HOW TO PLAY</h2>
        <p>Use ↑→↓← to control your snake.</p>
          <p>Collect Drops. Each drop adds length and earns you points.</p>
          <p>Avoid Yourself. Stay alive to keep stacking rewards.</p>
          <p>Daily Pool. Take the top of leaderboard and get the daily prize pool.</p>
          <p>Play Daily. Climb the leaderboard, unlock skins, and earn on-chain rewards.</p>
      </app-block>
    </div>

  </div>
</app-layout>
