<app-layout>
  <div class="grid grid-cols-12">

    <div class="col-12">
      <app-block class="intro-block">
        <div class="top-content">
          <div class="intro-text">
            <p>Snake. Play. Earn.</p>
            <p>Ride your snake, collect drops, and climb the leaderboard.</p>
            <p>Play daily, unlock skins, and earn rewards just by moving smart.</p>
            <p>No PvP, no pressure — just retro vibes and blockchain gains.</p>
          </div>
          <div class="intro-image">
            <img src="assets/images/snake.svg" alt="Snake">
          </div>
        </div>
        <div class="play-button">
          <app-button
            [label]="'Play'"
            [size]="3.5"
            (onClick)="navigateToGame()">
          </app-button>
        </div>
      </app-block>
    </div>

    <div class="flex flex-row justify-content-between col-12">
      <div class="col-5">
        <app-block>
          <app-block
            class="leaderboard"
            [background]="innerBlock.backgroundLeaderboard"
            [border]="innerBlock.border">
            <h2 class="leadernboard-headline py-2">Leaderboard</h2>
            <app-table [config]="leaderboardTableConfig"  [data]="players()"></app-table>
          </app-block>

          <app-block
            [background]="innerBlock.backgroundMyScore"
            [border]="innerBlock.border">
            <h3 class="py-2"> My Score</h3>
            <app-table [config]="myScoreTableConfig"  [data]="myScoreData"></app-table>
          </app-block>
        </app-block>
      </div>

      <div class="col-5">
        <app-block>
          <app-block
            class="count-fee"
            [background]="innerBlock.backgroundFeeToPay"
            [border]="innerBlock.border">
            <p>Fee to play</p>
            <p>1 ETH</p>
          </app-block>

          <app-block
            [background]="innerBlock.backgroundDailyPool"
            [border]="innerBlock.border">
            Daily Pool
          </app-block>
        </app-block>
      </div>
    </div>

    <div class="col-12">
      <app-block>How To Play</app-block>
    </div>

  </div>
</app-layout>
