:host ::ng-deep .p-toolbar {
  background: #762B41 !important;
  border: none !important;
  border-radius: 0 !important;
  box-shadow: none !important;
  padding: 0.75rem 6.5rem;
  .p-toolbar-group-start,
  .p-toolbar-group-center,
  .p-toolbar-group-end {
    align-items: center;
  }
}

.icon-button {
  background: black !important;
  padding: 0.25rem .3rem .1rem .3rem !important;
  border: 3px solid white;
  color: white;
  margin-right: 1.2rem;
  font-size: 1.4rem;
  text-decoration: none;
}

.logo {
  font-size: 1.8rem;
  font-weight: bold;
  color: white;
  text-align: center;
}

.address {
  margin-top: 0.5rem;
  text-align: right;
  color: white;
  font-size: 0.85rem;
}
